@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, select, textarea, p, blockquote, th, td {
margin:0;padding:0;}
body{  color: #000; font-family: "微软雅黑";font-size: 12px; line-height: 20px; text-align: left;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
a img{border:0;}
body{background:#f1f1f1;}
.left{float:left;}
.right{float:right;}
.clear{width:100%;height:0px; clear:both;}
.vspace{width:100%;height:10px; clear:both;}
/*topbar*/
.topbar{width:100%;height:96px; background:#151515;border-bottom:3px solid #a808fe;}
.top{width:1244px;margin:0 auto;height:96px;}
.logo img{float:left;margin-top:14px;}
.logo span{color:#ffa300;font-family:'微软雅黑','黑体','宋体';font-size:16px;margin-left:10px;float:left;font-weight:bold;margin-top:56px;}
.search{position:relative;background:url(../images/search_bg.png) no-repeat;width:415px;height:38px;margin-top:29px; margin-left:100px;}
.search button{position:absolute;right:0px;top:0px;height:38px;width:60px;border:none;background:none;cursor:pointer;}
.search input{height:33px;padding-left:50px;width:300px;background:none;border:none;color:#fff;font-size:14px;font-family:'微软雅黑','黑体','宋体';}
.login ,.enter{height:96px;line-height:96px;}
.login a,.login a:visited{color:#5d5d5d;text-decoration:none;}
.login a:hover,.login a:active{color:#6b33a2;text-decoration:none;}
.enter a,.enter a:visited{color:#5d5d5d;text-decoration:none;}
.enter a:hover,.enter a:active{color:#6b33a2;text-decoration:none;}
.c-gap-right { margin-right: 10px;}

/*footer*/
.footer{width:100%; height:240px; background:#151515;}
.foot{width:1144px;margin:0 auto;padding:20px 50px;}
.foot_logo{height:75px;position:relative;}
.foot_logo_intro{font-size:20px;color:#b27100;position:absolute;left:70px;top:50px;}
.foot_about{margin-top:15px;}
.foot_about a{margin-right:38px; color:#656565;}
.foot_about a,.foot_about a:visited{color:#656565;text-decoration:none;}
.foot_about a:hover,.foot_about a:active{color:#fff;text-decoration:none;}




/*banner*/
.banner{width:100%;height:635px;}
.banner ul{margin: 0 auto;width: 100%;height: 635px;overflow: hidden;position: relative;z-index: 1}
.banner ul li{width: 100%;text-align: center;height: 635px;float: left;position: absolute;left:0;top: 0;z-index: 1;}
.banner ul li a{display:block;width: 100%;height: 635px;margin: 0 auto;}
.banner ul li a img{border:0;display: block;margin:0 auto;width: 100%; height:635px;}
.banner .dot{z-index:9;}
.banner .dot,.banner .dotbg{width: 100%;margin: -50px auto 0;text-align: center;position: relative; height:50px;}
.banner .dotbg{ background:#a908fe; opacity:0.4; filter:alpha(opacity=40); z-index:1;}
.banner .dot span{width:14px;height: 14px;display: inline-block;margin:18px 15px 0 0; background: url(img/dotbg02.png) 0 0 no-repeat scroll;cursor: pointer;}
.banner .dot span.cur{background-position:0 -14px;}



/*topnav*/
.topnav{width:100%;height:61px; background:#7d03e4;margin-bottom:12px;}
.topnav .mainnav{ position:relative;z-index:99;}
.topnav .mainnav .nav_l{width:714px;}
.topnav .mainnav .nav_l a{ padding:0 20px;font:18px/61px "Microsoft Yahei";color:#fff; display:inline-block; height:61px;}
.topnav .mainnav .nav_l a:first-child{margin-left:24px;}
.topnav .mainnav .nav_l a.cur,.topnav .mainnav .nav_l a:hover{background:#7100c8;}
.topnav .mainnav .nav_l a.s{color:#ffe400;}
.topnav .mainnav .nav_r a{ font:16px/61px "Microsoft Yahei";color:#ad61ee;}
.topnav .mainnav .nav_r span{padding:0 10px;font:16px/61px "Microsoft Yahei";color:#ad61ee; display:inline-block;}
.topnav .mainnav .user{width:240px; position:absolute; right:-82px; top:-72px;z-index:9;}
.topnav .mainnav .user .head{width:120px; height:120px; border-radius:65px;border:5px solid #7d03e4; cursor:pointer;}
.topnav .mainnav .user .down{display:block;width:24px; height:12px; overflow:hidden; background:url(img/down.png) left top no-repeat  scroll; clear:both; margin:5px 0 0 50px;}
.topnav .mainnav .user .jiangpai{width:23px;height:38px; margin:72px 0  0 27px;}
.topnav .mainnav .user h2{color:#ffffff; font:13px/24px "Microsoft Yahei";width:110px; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.topnav .mainnav .user h2 span{padding-left:10px;}
.topnav .mainnav .userinfo{width:423px; height:390px; position:absolute; right:82px; top:160px; z-index:9999; display:none}
.topnav .mainnav .userinfo .t{height:152px; width:100%; position:relative;}
.topnav .mainnav .userinfo .t .bg{height:152px; width:100%; position:absolute; top:0; left:0; opacity:0.9; filter:alpha(opacity=90); background:#7d03e4;}
.topnav .mainnav .userinfo .t .imgbox{ position:relative; z-index:1;width:389px; border-bottom:1px dashed #a56dd2; margin:0 auto;padding:20px 0 15px 0;}
.topnav .mainnav .userinfo .t .imgbox .img{margin-right:10px;}
.topnav .mainnav .userinfo .t .imgbox .img,.topnav .mainnav .userinfo .t .imgbox .img img{width:104px;height:104px;}
.topnav .mainnav .userinfo .t .imgbox h3{color:#ffffff; font:20px/25px "Microsoft Yahei";width:225px; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.topnav .mainnav .userinfo .t .imgbox h3 a{color:#fff;}
.topnav .mainnav .userinfo .t .imgbox h3 i{padding-left:19px; font-style:normal;}
.topnav .mainnav .userinfo .t .imgbox p img{padding:7px 0 7px 20px;}
.topnav .mainnav .userinfo .t .imgbox .numbers,.topnav .mainnav .userinfo .t .imgbox .numbers a{font:14px/33px "微软雅黑"; height:33px;color:#fff;}
.topnav .mainnav .userinfo .t .imgbox .numbers i{color:#ffc000; font-style:normal; padding-right:19px;}
.topnav .mainnav .userinfo .t .imgbox .logout{font:14px/23px "微软雅黑"; height:33px;color:#fff; margin-top:-23px;}
.topnav .mainnav .userinfo .b{ width:100%; height:237px; position:relative;z-index:99;}
.topnav .mainnav .userinfo .b .bg{ width:100%; height:237px; opacity:0.9; filter:alpha(opacity=90); background:#fff; position:absolute; left:0; bottom:0; }
.topnav .mainnav .userinfo .b .mycenter{ position:relative;z-index:11;}
.topnav .mainnav .userinfo .b .mycenter a{width:110px; height:25px; padding:34px 10px 0 64px; display:block; float:left;}
.topnav .mainnav .userinfo .b .mycenter a.end{margin-right:0;}
.topnav .mainnav .userinfo .b .vip{ width:303px; height:57px; background:#ffad00;font:24px/57px "Microsoft Yahei";color:#ffffff; position:absolute;z-index:11; left:62px; bottom:29px; text-align:center;}
.topnav .mainnav .userinfo .b .vip a{ color:#fff;}



.wrapper{width:1243px;margin:0 auto; clear:both;}

.col798{width:798px;}
.col430{width:430px;}
.col690{width:690px;}
.col534{width:534px;}
.col815{width:815px;}
.col410{width:410px;}
.col625{width:625px;margin-right:15px;}
.col310{width:310px;}
.col278{width:278px;}
.col45{width:45px;}
.col1185{width:1185px;}



.md{width:100%;overflow:hidden;}
.md .hd{margin-bottom:24px;height:47px;border-bottom:3px solid #a808fe; overflow:hidden;}
.md .hd.s{border-bottom:3px solid #7d03e4;}
.md .hd .title{display:inline-block;padding-left:36px; background:url(img/mdtitlebg.png) left center no-repeat scroll transparent; font: 28px/47px "微软雅黑"; color:#733fa7;}
.md .hd .title.s{background:none;color:#2b2b2b;padding-left:20px;}
.md .hd .title i{font:16px/30px "Microsoft Yahei";color:#2b2b2b;padding-left:15px;}
.md .hd .more{font:14px/58px "Microsoft Yahei";color:#2b2b2b;padding-right:10px;}
.md .hd .more a{color:#2b2b2b;}
.md .bd{overflow:hidden;}
.md .bd.w{background:#fff; padding:20px 15px 0 15px; clear:both;}
.md .bd.n{padding:20px 0 25px 10px;}

.md1{width:100%;overflow:hidden; background:#fff;}
.md1 .hd{margin-bottom:24px;height:52px;border-bottom:4px solid #f1f1f1;}
.md1 .hd .title{display:inline-block;padding-left:21px; font: 28px/47px "微软雅黑"; color:#6b33a2; color:#2b2b2b;}
.md1 .hd .title.hot{ background:url(img/hottitlebg.jpg) 55px center no-repeat scroll transparent; color:#2b2b2b;}
.md1 .hd .title i{font:16px/30px "Microsoft Yahei";color:#2b2b2b;padding-left:15px;}
.md1 .hd .more{font:14px/58px "Microsoft Yahei";color:#2b2b2b;}
.md1 .hd .more a{color:#2b2b2b; margin-right:20px;}
.md1 .hd .more a.cur{color:#a808fe;}
.md1 .bd{background:#fff; padding:0px 0 5px 15px;*padding:0px 0 19px 15px; overflow:hidden;}

.shd{width:42px;height:209px;border-left:2px solid #a908fe; text-align:center;word-wrap:break-word;word-break:nomal; position:relative; background:#fff;}
.shd .s_title{padding-top:14px;}
.shd .title{font:24px/28px "Microsoft Yahei";color:#2b2b2b; }
.shd .title i{ color:#a808fe; font-size:30px; font-style:normal;}
.shd .more{width:16px;font:14px/16px "Microsoft Yahei"; height:40px;left:10px; bottom:8px; position:absolute; background:url(img/downmore.jpg) bottom center no-repeat scroll;}
.shd .more a{color:#2b2b2b;}


.md2{width:100%;overflow:hidden;}
.md2 .hd{margin-bottom:24px;height:47px;border-bottom:3px solid #a808fe;}
.md2 .hd .title{padding-left:36px;}
.md2 .hd .title a,.md2 .hd .title i{font: 18px/47px "微软雅黑"; color:#2b2b2b;}
.md2 .hd .title a.cur{color:#a808fe}
.md2 .hd .more{font:14px/58px "Microsoft Yahei";color:#2b2b2b;padding-right:10px;}
.md2 .hd .more a{color:#2b2b2b;}
.md2 .bd{ background:#fff; overflow:hidden;}
.md3 .bd{ margin-top:-24px;}

.md4{width:100%;overflow:hidden;}
.md4 .hd{height:52px; overflow:hidden;border-bottom:0; background:#fff;margin-bottom:0;}
.md4 .hd .title a{ font: 24px/52px "微软雅黑"; color:#2b2b2b;margin-right:34px;}
.md4 .hd .title a.cur{ color:#7d03e4;border-bottom:1px solid #7d03e4;}
.md4 .hd .title{ background:none;}
.md4 .hd .more{font:14px/58px "Microsoft Yahei";color:#2b2b2b;padding-right:10px;}
.md4 .hd .more a{color:#2b2b2b;}
.md4 .bd{overflow:hidden; background:#fff;padding:10px 0 8px 0;}



.ind01{width:100%;hegiht:535px; overflow:hidden; position:relative;}
.ind01 .imgbox,.ind01 .imgbox img{ width:100%;hegiht:535px;}
.ind01 .txtbg{width:100%;height:60px; position:absolute; bottom:0; background:#000; opacity:0.8; filter:alpha(opacity=80)}
.ind01 .txt{width:100%; height:60px; position:absolute; bottom:0; z-index:1;}
.ind01 .txt p{font:22px/60px "Microsoft Yahei"; text-indent:12px;}
.ind01 .txt span{padding:0 20px 0 28px; background:url(img/fansibg.png) left center no-repeat scroll transparent;font:16px/60px "Microsoft Yahei"; }
.ind01 .txt p,.ind01 .txt p a,.ind01 .txt span{color:#fff;}
.ind01 .txt span i{color:#f8b62a; font-style:normal;}

.ind02 li{width:200px;height:358px; float:left; background:#fff;margin:0 5px 12px 0;}
.ind02 li.last{margin-right:0px; float:right}
.ind02 li .imgbox{width:185px;height:245px; margin:0 auto 20px; padding-top:9px;position:relative;}
.ind02 li .imgbox .txtbg{width:100%;height:46px; opacity:0.5; filter:alpha(opacity=50);position:absolute;bottom:0; background:#000;left:0;}
.ind02 li .imgbox p{width:100%; height:46px; position:absolute; bottom:0;left:0; z-index:1;font:14px/46px "宋体"; color:#fff; text-align:center; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.ind02 li .imgbox p a{color:#fff;}
.ind02 li .numberbox{padding:0 9px 0;}
.ind02 li .numberbox p{color:#191919; text-indent:5px;font:14px/28px "Microsoft Yahei";}
.ind02 li .numberbox p span{margin-left:13px;}
.ind02 li .numberbox .progress{width:180px; height:5px; overflow:hidden; background:#c2c2c2; position:relative;margin-bottom:5px;}
.ind02 li .numberbox .progress .yellow{width:70%; height:5px; background:#ffda30; position:absolute;left:0;top:0;}
.ind02 li .numberbox .des{color:#191919;font:14px/28px "Microsoft Yahei";}

.ind03 li{display:none;}
.ind03 li:first-child{display:block;}
.ind03 li .imgbox{width:178px; float:left; margin:0 14px 14px 0;}
.ind03 li .imgbox .img{width:100%; height:88px; position:relative;}
.ind03 li .imgbox .img img{width:100%; height:88px;}
.ind03 li .imgbox .img .txtbg{width:100%;height:28px; position:absolute; left:0; bottom:0; background:#000; opacity:0.5; filter:alpha(opacity=50)}
.ind03 li .imgbox .img .txt{width:100%; height:28px; position:absolute; left:0;bottom:0; z-index:1;font:14px/28px "宋体";text-align:center;color:#fff;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.ind03 li .imgbox .img .txt a{color:#fff;}
.ind03 li .imgbox .numbers{font:13px/28px "宋体";color:#888888; height:28px; background:#f2f2f2;}
.ind03 li .imgbox .numbers i{color:#ff0404; font-style:normal;}
.ind03 li .imgbox .numbers span{padding-left:22px;margin-right:6px;}
.ind03 li .imgbox .numbers .playicon{ background:url(img/playiconbg.jpg) 5px center no-repeat scroll transparent;}
.ind03 li .imgbox .numbers .comment{ background:url(img/commenticonbg.jpg) 5px center no-repeat scroll transparent;}
.ind03 li .imgbox.big .img,.ind03 li .imgbox.big{width:380px;height:246px;}
.ind03 li .imgbox.big .img img{width:380px;height:246px;}
.ind03 li .imgbox.big .img .txtbg{height:99px;background:#470a7b; opacity:0.8;filter:alpha(opacity=80);}
.ind03 li .imgbox.big .img .txt{ bottom:37px;font:24px/60px "微软雅黑";height:60px;}
.ind03 li .imgbox.big .numbers{font:16px/37px "微软雅黑";color:#fff; position:relative;margin-top:-47px; background:none;}
.ind03 li .imgbox.big .numbers i{color:#e9a539;}
.ind03 li .imgbox.big .numbers span{padding-left:32px;margin-right:20px;}
.ind03 li .imgbox.big .numbers .playicon{ background:url(img/playiconbg.png) 5px center no-repeat scroll transparent;margin-left:105px;}
.ind03 li .imgbox.big .numbers .comment{ background:url(img/commenticonbg.png) 5px center no-repeat scroll transparent;}
.ind03 li .imgbox.col3{width:244px;margin-right:15px;}
.ind03 li .imgbox.col3 .img,.ind03 li .imgbox.col3 .img img{height:118px;}

.ind04{ background:#fff; }
.ind04 .s_title{height:52px;color:#2b2b2b;border-bottom:4px solid #f1f1f1; font-size:24px;}
.ind04 .s_title a{font:24px/52px "微软雅黑"; color:#2b2b2b;padding:0 15px;}
.ind04 .s_title a.cur{color:#6b33a2;}
.ind04 .s_title .more,.ind04 .s_title .more a{font:14px/52px "黑体";color:#4d4d4d;}
.ind04 .con .col_left{width:434px; height:399px; background:#fff;}
.ind04 .con .col_right{width:191px; height:399px; background:#6b33a2; color:#fff;}
.ind04 .con .col_right p{font:14px/48px "宋体";color:#fff; text-align:center;}
.ind04 .con .col_right p span{padding-left:9px;}
.ind04 .con .col_right .date{width:100px;height:83px; text-align:center; margin:0 auto 20px; background:#ffbb00;font:60px/83px "微软雅黑";}
.ind04 .con .col_right li{padding:0 0 20px 9px; clear:both; overflow:hidden;}
.ind04 .con .col_right li .headbox{width:53px; height:53px; position:relative; overflow:hidden;margin-right:10px;}
.ind04 .con .col_right li .headbox img,.ind04 .con .col_right li .headbox .bg{width:100%;height:100%;}
.ind04 .con .col_right li .headbox .bg{ position:absolute; left:0;top:0; background:url(img/headbg.png) center center no-repeat scroll transparent;}
.ind04 .con .col_right li .des {width:115px;}
.ind04 .con .col_right li .des h5{ font-weight:normal;font:14px/30px "宋体";height:30px;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.ind04 .con .col_right li .des span{font:14px/22px "宋体";}
.ind04 .con .col_right li .des .time{padding:0 10px 0 20px; background:url(img/timeiconbg.jpg) left center no-repeat scroll;}
.ind04 .con .col_right li .des .address{padding-left:20px; background:url(img/addressiconbg.jpg) left center no-repeat scroll;}

.ind05{padding:18px 20px;}
.ind05 li{display:none;}
.ind05 li:first-child{display:block;}
.ind05 div,.ind05 div a{height:27px;font:18px/27px "微软雅黑"; color:#757575;}
.ind05 div{overflow:hidden;margin-bottom:13px;}
.ind05 div i{display:inline-block;width:26px;margin-right:14px; font-style:normal;height:26px; background:url(img/pop10icon.jpg) center center no-repeat scroll; color:#fff; text-align:center;}

.ind06{ width:370px;margin:0 auto 20px; overflow:hidden;}
.ind06 p{width:370px; height:70px; background:#f1f1f1;font:24px/70px "微软雅黑"; color:#333333; text-align:center; margin-bottom:5px;}
.ind06 p span{font-size:48px; color:#ff1400;}
.ind06 .item{width:182.5px; height:92px; background:#f1f1f1; text-align:center;}
.ind06 .item h6{background:#f1f1f1;font:24px/29px "微软雅黑"; color:#333333;margin-top:13px;}
.ind06 .item div{background:#f1f1f1;font:40px/38px "微软雅黑"; color:#ff1400;}


#tab02 li{display:none;}
#tab02 li:first-child{display:block;}
.hotpop5 .item{height:73px; margin-bottom:11px;*margin-bottom:7px;}
.hotpop5 .item i{width:29px;height:73px; background:#7d03e4;display:inline-block;font-style:normal;color:#fff; text-align:center;font:24px/73px "arial";}
.hotpop5 .item .imgbox,.hotpop5 .item .imgbox img{width:103px;height:100%;}
.hotpop5 .item .des{margin-left:10px;width:210px;border-right:1px solid #f1f1f1;height:100%;}
.hotpop5 .item .des h3{font:20px/32px "微软雅黑"; color:#7d03e4;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;padding:6px 0 3px 0;}
.hotpop5 .item .des .numbers{font:13px/28px "宋体";color:#888888; height:28px; }
.hotpop5 .item .des .numbers i{color:#ff0404; font-style:normal; background:none;font:13px/28px "宋体"; height:28px;}
.hotpop5 .item .des .numbers span{padding-left:20px;margin-right:16px;}
.hotpop5 .item .des .numbers .playicon{ background:url(img/playiconbg01.png) 0px center no-repeat scroll transparent;}
.hotpop5 .item .des .numbers .comment{ background:url(img/commenticonbg01.png)0px center no-repeat scroll transparent;}
.hotpop5 .item .play{width:37px; height:37px; display:inline-block;margin:17px 0 0 8px;}
.hotpop5 .item .play a{display:block; width:37px; height:37px; background:url(img/playiconbg03.png) center center no-repeat scroll; text-indent:-9999px;}
.hotpop5 .item .play a.cur{color:##a808fe;}


.picshow{width:366px; height:128px; margin:0 auto 15px;}
.picshow ul{width:100%;height:128px;position:relative; overflow:hidden; z-index:1}
.picshow ul li{width:100%;height:100%; display:none; float:left; position:absolute; left:0; top:0; z-index:1}
.picshow ul li img{width:100%;height:128px; display:block;}
.picshow .dot{padding-right:9px;height:32px; margin-top:-32px; position:relative; bottom:0; text-align:right; z-index:9}
.picshow .dot span{display:inline-block;height:22px; width:22px; text-align:center;color:#343333;font:18px/21px "arial";margin:5px 2px 0 0; background:url(img/dotbg.png) 0 0 no-repeat scroll; cursor:pointer;}
.picshow .dot span.cur{ background-position:0 -22px;color:#333333;}

.con01 .up{margin-bottom:20px; overflow:hidden;}
.con01 .up .imgbox,.con01 .imgbox img{width:100px;height:100px;}
.con01 .up .imgbox{margin-right:7px;}
.con01 .up h4{color:#4d4d4d;font:18px/24px "黑体"; margin-bottom:3px;}
.con01 .up p{font:14px/24px "黑体";}
.con01 .up p a{color:#6b33a2;}
.con01 .up .bline{font:12px/18px "宋体";color:#888888;padding-top:6px;}
.con01 .up .bline i,.con01 .list .bline i{color:#ff0101; font-style:normal;padding-left:10px;}
.con01 .list .bline span{margin-right:38px;}
.con01 li{border-bottom:1px dashed #c8c8c8; overflow:hidden;padding-bottom:8px; margin-bottom:10px;}
.con01 .list{clear:both;}
.con01 .list h4{color:#2b2b2b;font:16px/24px "微软雅黑";}
.con01 .list h4 a{color:#2b2b2b;}
.con01 .list li .time{width:45px;}
.con01 .list li .time p{color:#a1a1a1;font:14px/18px "微软雅黑";}

.con02{padding-bottom:30px;}
.con02 a,.con02 a img{width:119px;height:58px;}
.con02 a:first-child{margin-right:10px;}


.con03{width:240px;overflow:hidden; padding-bottom:15px;}
.con03 li,.con03 li a{height:27px;font:18px/27px "微软雅黑"; color:#757575;}
.con03 li{overflow:hidden;margin-bottom:14px;}
.con03 li i{display:inline-block;width:26px;margin-right:14px; font-style:normal;height:26px; background:url(img/pop10icon.jpg) center center no-repeat scroll; color:#fff; text-align:center;}
.con03 li.first{height:64px;margin-bottom:25px;}
.con03 li.first i{background:none;  font:48px/40px "arial";font-style:italic; color:#7d03e4;padding-top:10px;}
.con03 li.first .headbox {width:62px;height:62px; position:relative;margin-right:10px;}
.con03 li.first .headbox  .headbg{position:absolute;width:62px;height:62px;  left:0;top:0; background:url(img/headbg2.png) 0 0 no-repeat scroll;z-index:9}
.con03 li.first .headbox  img{width:62px; height:62px;}

.con04 li{ background:#fff; display:none;padding:10px 0 0 23px; overflow:hidden;}
.con04 li:first-child{display:block;}
.con04 li .imgbox{width:250px;height:178px; margin:0 14px 20px 0;position:relative; float:left;}
.con04 li .imgbox img{width:100%; height:100%;}
.con04 li .imgbox .txtbg{width:100%;height:32px; opacity:0.5; filter:alpha(opacity=50);position:absolute;bottom:0; background:#000;left:0;}
.con04 li .imgbox p{width:100%; height:32px; position:absolute; bottom:0;left:0; z-index:1;font:14px/32px "宋体"; color:#fff; text-align:center; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.con04 li .imgbox p a{color:#fff;}

.picshow.con05{ background:#fff;padding:10px 20px 20px 23px;margin-bottom:0;}
.picshow.con05,.picshow.con05 ul {height:166px;}
.picshow.con05 ul  li{width:379px; height:166px; overflow:hidden;}
.picshow.con05 ul li img{height:166px;}
.picshow.con05 ul li .txt{ text-indent:18px;width:100%;height:34px;color:#2b2b2b;font:18px/34px "微软雅黑";margin-top:-34px; background:#e8e8e8; position:relative;z-index:9}
.picshow.con05 .dot span{ background:url(img/dotbg03.png) 0 -20px no-repeat scroll;width:20px; height:20px;font:14px/20px "微软雅黑"; color:#fff;margin-right:5px;}
.picshow.con05 .dot span.cur{background-position:0 0;}

.con06{background:#fff;padding:0 20px 20px 23px;}
.con06{height:188px; position:relative;}
.con06 a img{width:100%;height:188px; }
.con06 .txtbg{width:199px; height:37px; background:#7d03e4; opacity:0.5; filter:alpha(opacity=50);position:absolute;right:20px;top:96px;}
.con06 .txt{position:absolute;right:65px;top:103px;}

.con07{padding:16px 0px 24px 26px; background:#fff; overflow:hidden}
.con07 li{width:174px; height:170px; position:relative; float:left;margin-right:18px;}
.con07 li .txtbg{width:62px; height:24px; background:#7d03e4; opacity:0.5; filter:alpha(opacity=50);position:absolute;left:0;top:0px;}
.con07 li p{width:62px; height:24px;position:absolute;left:0;top:0px; text-align:center;color:#ffffff; font:14px/24px "宋体";}
.con07 li .head img{ width:100%; height:100%;}
.con07 li .codeimg{ width:80px; height:80px;position:absolute;left:6px;bottom:8px;}

.picshow.con08{ width:574px; height:396px;background:#fff; margin-bottom:0;}
.picshow.con08 ul {height:396px;}
.picshow.con08 ul  li{width:574px; height:396px; overflow:hidden;}
.picshow.con08 ul li img{height:396px;}
.picshow.con08 ul li .txt{ text-indent:18px;width:100%;height:38px;color:#2b2b2b;font:20px/38px "微软雅黑";margin-top:-38px; background:#e8e8e8; position:relative;z-index:9}
.picshow.con08 .dot span{ background:#c5c5c5;width:24px; height:24px;font:20px/24px "微软雅黑"; color:#333131;margin:0 8px 0 0 ;}
.picshow.con08 .dot span.cur{ background:#ffa901;}


.md4 li{display:none;}
.md4 li:first-child{display:block;}
.con09 .con{display:none;}
.con09 .con:first-child{display:block;}
.con09 .imgbox{width:208px; float:left; margin:0 14px 14px 0;}
.con09 .imgbox.end{margin-right:0;}
.con09 .imgbox .img{width:100%; height:108px; position:relative;}
.con09 .imgbox .img img{width:100%; height:108px;}
.con09 .imgbox .img .txtbg{width:100%;height:28px; position:absolute; left:0; bottom:0; background:#000; opacity:0.5; filter:alpha(opacity=50)}
.con09 .imgbox .img .txt{width:100%; height:28px; position:absolute; left:0;bottom:0; z-index:1;font:14px/28px "宋体";text-align:center;color:#fff;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.con09 .imgbox .img .txt a{color:#fff;}
.con09 .imgbox .only,.con09 .imgbox .self{width:46px; height:46px; position:absolute; right:0;top:0; background:url(img/only.png) right top no-repeat scroll;}
.con09 .imgbox .self{background:url(img/self.png) left top no-repeat scroll;}
.con09 .imgbox .numbers{font:13px/33px "宋体";color:#888888; height:33px; background:#f2f2f2;}
.con09 .imgbox .numbers i{color:#ff0404; font-style:normal;}
.con09 .imgbox .numbers span{padding-left:22px;margin-left:14px;}
.con09 .imgbox .numbers .playicon{ background:url(img/playiconbg.jpg) 5px center no-repeat scroll transparent;}
.con09 .imgbox .numbers .comment{ background:url(img/commenticonbg.jpg) 5px center no-repeat scroll transparent;}
.con09 .content{width:430px;padding-left:22px}
.con09 .tab{ width:78px; height:450px; background:#f8f8f8;border-right:3px solid #a808fe;}
.con09 .tab a{height:134px;width:45px;color:#2b2b2b;font:24px/24px "微软雅黑"; text-align:center; vertical-align:middle; float:right; display:table;}
.con09 .tab a i{display:table-cell;vertical-align:middle; font-style:normal; *display:block;*font:24px/28px "微软雅黑"; *padding-top:20px;}
.con09 .tab a.cur{background:#6b33a2; color:#fff;}
.con09 .tab a.cur:after{ background:url(img/tabbg02.png) left center no-repeat scroll; width:13px;height:25px; display:block; content:"."; text-indent:-9999px; position:relative; margin:54px 0 0 -57px;}
.con09 .tab a.cur i{*background:url(img/tabbg02.png) left 50px no-repeat scroll;*padding-left:12px;*margin-left:-12px; }

.dark{background:#013e5a;}
.red{background:#782633;}
.black{background:#000;}
.orange{ background:#ee6f0f;}
.green{ background:#8c9d4d;}
.blue{ background:#0893bf;}
.con10{width:209px; height:193px; margin:1px 0 9px 7px;}
.con10 h5{color:#fff;font:16px/36px "黑体"; text-align:center; }
.con10 .focus{width:180px; height:81px; margin:0 auto; position:relative;}
.con10 .focus .imgbox{width:180px; height:81px; margin:0 auto; position:relative; overflow:hidden;}
.con10 p{ text-align:center;}
.con10 p img{width:178px;height:60px; margin:0 auto;}
.con10 .focus ul{ position:absolute;top:0; left:0;}
.con10 li{width:59px; float:left;height:81px; margin-right:1px;background:#fff;}
.con10 li p{color:#868686;font:12px/20px "宋体"; text-align:center; width:100%; }
.con10 li img{width:59px; height:61px;}
.con10 .focus a.next,.con10 .focus a.prev{width:9px; height:15px; overflow:hidden; display:block; position:absolute; top:29px;cursor:pointer;}
.con10 .focus a.next{ background:url(img/next.png) left 0 no-repeat scroll;right:-12px; cursor:pointer;}
.con10 .focus a.prev{background:url(img/prev.png) left 0 no-repeat scroll;left:-12px;}

.con11{padding:16px 16px 12px 24px;}
.con11 .line{width:100%; height:98px; padding-bottom:10px; border-bottom:1px dashed #cccccc;}
.con11 .line .headbox{width:116px;height:98px;margin-right:24px;}
.con11 .line h5{color:#4d4d4d;font:18px/33px "微软雅黑";text-overflow:ellipsis;white-space:nowrap; overflow:hidden; margin-bottom:15px;}
.con11 .line h5 a{color:#4d4d4d;}
.con11 .line p{margin-bottom:5px;}
.con11 .line p span{color:#898888;font:13px/18px "宋体"; padding-left:24px;}
.con11 .line p span.comment{ background:url(img/fansi1.jpg) left center no-repeat scroll;}
.con11 .line p span.comment i{color:#ff0707; padding-left:10px; font-style:normal;}
.con11 .line p span.playicon{ background:url(img/time1.jpg) left center no-repeat scroll;}
.con11 .line p span.playicon i{padding-left:10px;font-style:normal;}










/*用户中心*/
.userlj{font-size:16px; height:80px; line-height:80px;}
.userlj a{color:#252525;}
.userlj a:hover{color:#7d03e4;}

.usercon{width:1197px; border:1px solid #dedede; padding:22px; background-color:#fff; overflow:hidden;}
.usercon205{width:205px;}
.usercon205tit{width:184px; height:63px; background-color:#7d03e4; font-size:24px; color:#fff; line-height:63px; padding-left:21px;}
.usercon205con{width:185px; height:1000px; padding:20px 20px 20px 0px; background-color:#f0f0f0; color:#666666;}
.usercon205con dl{margin-bottom:28px;}
.usercon205con dt{color:#7d03e4; font-size:18px; margin-bottom:20px; margin-left:20px;}
.usercon205con dt img{margin-right:9px; margin-bottom:-3px;}
.usercon205con dd{hegith:34px; line-height:34px; text-indent:54px; font-size:14px; color:#666; width:100%; display:inline-block;}
.usercon205con dd.current{width:217px; height:34px; background:url(img/user01.png) no-repeat;}
.usercon205con dd a{color:#666;}
.usercon205con dd a:hover{color:#7d03e4;}
.usercon205con dd.current a{color:#fff;}
.usercon205con dd.current a:hover{color:#fff;}

.usercon981{width:961px;}
.usercon981tit{width:100%; margin-top:20px; color:#7d03e4; font-size:24px;}
.usercon981titline{width:939px; margin-top:20px; margin-bottom:40px;}
.usercon981info{width:670px;}
.usercon981pic{width:205px; height:205px; position:relative;}
.usercon981pic span{position:absolute;left:0px;bottom:0px;width:100%;height:33px;z-index:1;background:#000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.usercon981pic em{font-size:14px; color:#fff; font-style:normal; position:absolute; left:0px; bottom:0px; z-index:2; line-height:33px; text-align:center; width:100%;}
.usercon981pic em a{color:#fff;}
.usercon981pic em a:hover{color:#fff;}

.usercon981text{padding-left:43px; width:400px;}
.usercon981text dt{font-size:24px; line-height:50px; width:400px; float:left;}
.usercon981text dd{font-size:14px; line-height:30px; width:400px; float:left;}
.usercon981text dd img{margin-left:10px; margin-top:8px;}
.usercon981con{width:600px; margin-bottom:25px;}
.usercon981con span{display:block; width:600px; height:25px; font-size:14px; font-weight:bolder;}
.usercon981con input{width:256px; height:40px; border:0px; background-color:#f0f0f0; padding-left:4px;}
.usercon981con em {margin-left:20px; font-style:normal;font-size:14px; }
.usercon981con em a{color:#666;}
.usercon981con em a:hover{color:#7d03e4;}

.usercon981con li{width:70px; height:40px; border:1px solid #eee; float:left; margin-right:10px; text-align:center; line-height:40px; font-size:16px; }
.usercon981con li.current a{width:70px; height:40px; display:inline-block; background-color:#7d03e4; color:#fff;}

.usercon981jinbi{width:600px; margin-bottom:25px;  font-size:14px;}
.usercon981jinbi span{ color:#f8b62a; font-size:16px;}

.usercon981bg{margin-top:20px; line-height:20px; width:900px; color:#666;}
.usercon981bg table{ border-collapse:collapse; width:100%; text-align:center; border:1px solid #eee;}
.usercon981bghd{ display:table-row; border-color:inherit; background-color:#f0f0f0; height:40px; line-height:40x; border:1px solid #eee; }
.usercon981bgcon{border:1px solid #eee; height:40px; line-height:40px; }
.usercon981bgcon_td{border-right:1px solid #eee; border-bottom:1px solid #eee;}
.usercon981bgcon_hs{ color:#f8b62a;}
.bgtime{width:212px;}
.bgfangshi{width:140px;}
.bgchongzhi{width:140px;}
.bgjinbi{width:160px;}

.usercon981fy{width:900px; margin-top:40px; }
.usercon981fy ul{float:right;}
.usercon981fy li{float:left; min-width:35px; height:35px; line-height: 35px;  text-align:center; margin-left:10px; cursor:pointer; border-radius:3px;}
.usercon981fy_dot{background-color:#fff; cursor:default; color:#898989;}
.usercon981fy_tit{width:90px; background-color:#f1f1f1; color:#898989;}
.usercon981fy_act{background-color:#790fd4; color:#fff;}
.usercon981fy_item{background-color:#f1f1f1; color:#898989;}