/*---大咖秀首页开始----*/
.dkcol_w730{width:730px; height:570px;}
.dkcol_w730title{ background:url(../images/daka_01.jpg) no-repeat;; width:730px; height:45px; padding-bottom:20px; position:relative;}
.dkcol_flash{height:485px; position:relative;}
.dkcol_flash a{color:#fff;}
.dkcol_flash a:hover{color:#f8b62a;}
.dkcol_flash span{position:absolute;left:0px;bottom:0px;width:100%;height:64px;line-height:64px;z-index:1;background:#000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.dkcol_flash i{color:#fff; z-index:2; position:absolute;left:0px;bottom:0px; line-height:64px; padding-left:30px; font-size:20px;}
.dkcol_flash ul{color:#fff;z-index:1; position:absolute;right:0px;bottom:0px; line-height:64px; padding-right:10px; font-size:16px;}
.dkcol_flash li{float:left; width:118px; padding-right:15px;hegiht:64px;line-height:64px;}
.dkcol_flash li img{padding-top:17px; padding-right:5px;}
.dkcol_flash li em{color:#f8b62a;}
.dkcol_w501{width:501px; }
.dkcol_w501title{width:501px; height:45px; line-height:45px; background:url(../images/daka_02.jpg) no-repeat; padding-bottom:20px;}
.dkcol_w501con{width:501px; height:485px; background-color:#fff;}
.dkcol_w501con a{font-size:14px; color:#fff;}
.dkcol_w501con a:hover{ color:#f8b62a;}
.dkcol_w501con ul{padding:20px 0px 20px 20px;}
.dkcol_w501con li{position:relative; width:220px; height:181px; float:left; margin-bottom:22px; margin-right:20px;}
.dkcol_w501con span{position:absolute;left:0px;bottom:0px;width:100%;height:56px;z-index:1;background:#000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.dkcol_w501con li i{color:#fff; position:absolute; left:10px;bottom:10px; color:#fff; z-index:2; font-size:12px;}
.dkcol_w501con li i img{padding-right:5px; padding-top:3px;}
.dkcol_w501con li i em{color:#ff0000;}
.dkcol_w501btn{width:460px; height:45px; margin-left:20px; background-color:#7d03e4;}
.dkcol_w501btn dl{ padding-left:170px;padding-top:8px; }
.dkcol_w501btn dd{width:27px; height:27px; color:#fff; font-size:14px; border:1px solid #fff; line-height:27px; text-align:center; float:left; margin-left:10px; cursor:pointer;}
.dkcol_w501btn dd a{color:#fff;  display:inline-block; line-height:27px; width:27px;}
.dkcol_w501btn dd a:hover{color:#fff; color:#7d03e4; background-color:#fff; width:27px; height:27px; }
.dkcol_w501btn dd.current{ color:#7d03e4; background-color:#fff; width:27px; height:27px; }
.dkcol_w501btn dd.current a{ color:#7d03e4;}

.dksearchtitle{width:1244px; height:77px; background-color:#fff; margin:20px 0px 0px 0px; float:left;}
.dksearchtitle ul{margin-left:25px; margin-top:25px; float:left; width:800px;}
.dksearchtitle ul li{width:82px; height:27px; background-color:#f1f1f1; float:left; text-align:center; line-height:27px; font-size:16px; margin-right:20px; cursor:pointer;}
.dksearchtitle ul li a{color:#333; width:82px; height:27px; display:inline-block; line-height:27px;}
.dksearchtitle ul li a:hover{background-color:#f8b62a; color:#fff; }
.dksearchtitle ul li.current{background-color:#f8b62a; color:#333}

.dksearchxx{width:1244px; height:180px; background-color:#fff;  float:left;}

.dksearchxx ul{margin-left:25px; margin-top:20px; float:left; width:800px;}
.dksearchxx ul li{width:82px; height:27px; background-color:#f1f1f1; float:left; text-align:center; line-height:27px; font-size:16px; margin-right:20px; cursor:pointer;}
.dksearchxx ul li a{color:#333; width:82px; height:27px; display:inline-block; line-height:27px;}
.dksearchxx ul li a:hover{background-color:#f8b62a; color:#fff; }
.dksearchxx ul li.current{background-color:#f8b62a; color:#333}
.dksearchxx span{font-size:16px; float:left; margin-right:25px; line-height:27px; width:80px; text-align:right;}
.dksearchxx{width:1244px; height:156px; margin-top:10px;  background-color:#fff; float:left; display:none;}
.dkxlb{ cursor:pointer;}

.dklist_list{width:916px; padding:19px 8px 19px 24px; background-color:#fff; margin-top:40px; }
.dklist_col{ position:relative; width:213px; height:175px; float:left; margin-right:16px; margin-bottom:15px;}
.dklist_col span{position:absolute;left:0px;bottom:0px;width:100%;height:56px;z-index:1;background:#000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.dklist_col i{color:#fff; position:absolute; left:10px;bottom:10px; color:#fff; z-index:2; font-size:12px;}
.dklist_col i em{color:#ff0000}
.dklist_col i img{padding-right:5px; padding-top:3px;}
.dklist_col a{color:#fff; font-size:16px;}
.dklist_col a:hover{color:#f8b62a; font-size:16px;}
.dk_phtitle1{width:281px; height:38px; background:url(../images/dkxlistpic02.jpg) no-repeat; margin-top:40px; }
.dk_phtitle1 ul{margin-left:160px;}
.dk_phtitle1 li{width:40px; float:left; height:40px; line-height:40px; font-size:16px; text-align:right;}
.dk_phtitle1 li.current{color:#a808fe;}
.dk_phtitle1 li.current a{color:#a808fe;}
.dk_phtitle1 li a{color:#333;}
.dk_phtitle1 li a:hover{color:#a808fe;}
.dk_phtitle2{width:281px;  height:924px; background-color:#fff; margin-top:20px;}
.dk_phtitle2 ul{padding:15px; float:left;}
.dk_phtitle2 ul li{float:left; margin-bottom:15px; *margin-bottom:0px;}
.dk_phtitle2_pic{width:62px; height:62px; position:relative; float:left; padding-right:10px;}
.dk_phtitle2_pic_ph{ position:absolute; top:0px; left:0px; background:url(../images/dakalist04.png) no-repeat; width:27px; height:27px; color:#fff;  padding-left:3px; font-size:12px;}
.dk_phtitle2_pic_ph4{position:absolute; top:0px; left:0px; background:url(../images/dakalist05.png) no-repeat; width:27px; height:27px; color:#fff;  padding-left:3px; font-size:12px;}
.dk_phtitle2_title{font-size:18px; width:138px; float:left; border-right:1px solid #dcdcdc;}
.dk_phtitle2_title a{ float:left;width:138px; color:#4d4d4d; }
.dk_phtitle2_title a:hover{color:#790fd4; }
.dk_phtitle2_title span{width:140px; float:left; font-size:12px; color:#888888; margin-top:3px;}
.dk_phtitle2_title span img{padding-right:5px; padding-top:2px;}
.dk_phtitle2_title em{color:#ff0404;}
.dk_phtitle2_btn{width:32px; float:left; margin-top:15px; margin-left:5px;}
.dk_phtitle3{width:281px; height:36px; background:url(../images/dkxlistpic05.jpg) no-repeat; margin-top:40px; }
.dk_phtitle3 span{float:right; font-size:16px; line-height:36px;}
.dk_phtitle3 span a{float:right; font-size:16px; line-height:36px; color:#333;}
.dk_phtitle3 span a:hover{color:#790fd4;}
.dk_jiazai a{height:57px; line-height:57px; text-align:center; color:#898989; font-size:16px; width:903px; float:left; background-color:#f2f2f2; margin-top:7px; border-radius:5px; }
.dk_jiazai a:hover{color:#898989;}
/*---大咖秀首页结束----*/