@charset "utf-8";
.intro_info{width:1244px;margin:0 auto;}
.intro_info_tab li{text-align:center;width:144px;float:left;font-family:'微软雅黑','黑体','宋体';font-size:24px;height:50px;line-height:50px;}
.intro_info_tab li.line{height:28px;width:3px;overflow:hidden;background:#151515;margin:11px 5px;}
.intro_info_left {width:450px;}
.intro_info_tab{background:#fff;}
.intro_info_tab li.current{color:#6b33a2;width:130px;border-bottom:2px solid #a808fe;}
.intro_info_left_con{margin-top:3px;padding:10px 10px 20px;}
.intro_info_left_con dl dt{width:207px;}
.intro_info_left_con dl dd{width:213px;}
.intro_info_left_con{background:#fff;}
.intro_info_left_con h3{font-size:24px;font-family:'微软雅黑','黑体','宋体';}



.fensi_rank{width:350px;margin:20px auto;}
.fensi_rank_num span,.fensi_rank_num button{display:inline-block;height:44px;line-height:44px;float:left;}
.fensi_rank_num span{width:37px;background:#7d03e4;float:left;margin-right:5px;text-align:center;color:#fff;font-size:24px;}
.fensi_rank_num button{margin-left:5px;border:none;background:url(../images/button1.png) no-repeat;width:76px;height:44px;}
.him_word_title{font-size:16px;}
.him_word_title {border-bottom:1px solid #515151;padding-bottom:10px;margin-bottom:10px;}
.him_word a{display:inline-block;padding:5px 10px;background:#f1f1f1;font-size:16px;margin-right:10px;}



.intro_info_mid{width:488px;margin:0 10px 5px;}
.latest_danan{border-bottom:2px solid #a808fe;background:#fff;padding-left:10px;font-size:24px;position:relative;height:50px;line-height:50px;margin-bottom:3px;}
.latest_danan a{position:absolute;right:10px;font-size:12px;}
.latest_danan_con{padding:20px 20px 19px;background:#fff;}


.month_cycle{margin-top:15px;position:relative;height:100px;}
.month_cycle_btn_left{background:url(../images/turn_left.png) no-repeat;width:17px;height:18px;float:left;margin-top:40px;}
.month_cycle_btn_right{background:url(../images/turn_right.png) no-repeat;width:15px;height:18px;float:left;margin-top:40px;}
.month_cycle_list{float:left;}
.month_cycle_list li{float:left;margin:0 20px;display:inline;height:69px;padding-top:28px;}
.month_cycle_list li.current{height:97px;padding-top:0px;}
.month_cycle_list a{display:block;background:url(../images/icon1.png) no-repeat;width:36px;text-align:center;font-size:20px;height:36px;line-height:36px;}
.month_cycle_list li.current a{margin-top:0px;color:#fff;font-size:24px;background:url(../images/icon2.png) no-repeat;width:64px;height:64px;line-height:64px;}
.month_cycle_list em{display:block;background:url(../images/icon3.png) no-repeat;width:18px;height:18px;margin-left:9px;margin-top:15px;}
.month_cycle_list li.current em{margin-left:23px;}
.cycle_line{width:448px;height:1px;overflow:hidden;background:#a808fe;position:absolute;z-index:1;top:88px;left:0px;}
.month_cycle_layer{position:absolute;left:0px;top:0px;z-index:2;}


.danan_list{margin-top:30px;}
.danan_list dl{border-bottom:1px dashed #515151;padding-bottom:16px;margin-bottom:21px;}
.danan_list p{font-size:16px;}
.danan_list p.danan_list_title{font-size:24px;margin-bottom:5px;}
.danan_list p.danan_list_title span{margin-right:30px;}
.danan_list p.danan_list_title img{margin-right:10px;}

.intro_info_right{width:286px;}
.news_intro_info{background:none;}


.him_news dt{width:94px;float:left;}
.him_news dd{width:162px;float:right;}
.him_news dd h4{font-size:16px;}
.him_news_con{background:#fff;padding:10px;}
.him_news_list{margin-top:14px;}
.him_news_list li{border-bottom:1px dashed #515151;padding-bottom:5px;margin-bottom:10px;}
.him_news_list_title{font-size:16px;margin-bottom:5px;}



.him_vedio_title span{font-size:20px;color:#6b33a2;height:33px;line-height:33px;}
.him_vedio_title a{height:33px;line-height:33px;}
.him_vedio_title{border-bottom:2px solid #a808fe;padding-bottom:5px;margin-top:20px;}
.him_vedio_left{width:856px;float:left;position:relative;}
.him_vedio_right{width:368px;float:right;}
.vedio_play_btn{position:absolute;right:20px;bottom:40px;}
.him_vedio_left_intro{height:22px;line-height:22px;}
.him_vedio_left_intro span{font-size:16px;}


.him_vedio_history_title{padding:10px;background:#fff;height:20px;line-height:20px;}
.him_vedio_history_title span{font-size:20px;}
.him_vedio_history_pic{position:relative;}
.him_vedio_history_pic_tag{position:absolute;right:0px;top:0px;width:30px;height:20px;z-index:1;padding:2px 5px;background:#7d03e4;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.him_vedio_history_pic i{position:absolute;right:7px;top:3px;color:#fff;z-index:2;}
.him_vedio_history_txt{position:relative;height:79px;}
.him_vedio_right ul{background:#fff;padding:10px 20px;margin-top:5px;}
.him_vedio_right ul li{margin-bottom:15px;}
.him_vedio_icon{left:0px;position:absolute;bottom:5px;}
.him_vedio_icon img{position:relative;margin-right:3px;margin-top:2px;}
.him_vedio_link a,.him_vedio_link a:visited{color:#5bc5f1;text-decoration:none;}
.him_vedio_link a:hover,.him_vedio_link a:active{color:#5bc5f1;text-decoration:none;}



.him_wish_left{width:856px;float:left;}
.him_wish_right{width:370px;float:right;}
.him_wish{margin-top:20px;}
.him_wish_left ul{padding:10px;background:#fff;}
.him_wish_left ul li{float:left;margin-left:5px;margin-right:5px;}
.him_wish_pic{position:relative;height:245px;}
.him_wish_pic span{position:absolute;left:0px;bottom:0px;width:100%;height:40px;line-height:40px;z-index:1;background:#000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.him_wish_pic i{position:absolute;left:0px;bottom:0px;color:#fff;width:100%;height:40px;line-height:40px;z-index:2;text-align:center;}
.choukuan_tip{font-size:14px;}
.choukuan_progress{width:100%;height:8px;background:#dbdbdb;overflow:hidden;}
.choukuan_progress span{width:70%;background:#ffda31;height:100%;display:block;}
.choukuan_time{font-size:14px;}
.fensi_title{border-bottom:2px solid #a808fe;padding-bottom:5px;margin-top:20px;height:33px;line-height:33px;}
.fensi_title_left{font-size:20px;height:33px;line-height:33px;}
.fensi_title ul li{float:left;height:33px;line-height:33px;font-size:20px;font-size:16px;}
.fensi_title ul li.li_line{width:2px;background:#ccc;height:20px;margin-top:10px;margin-left:5px;margin-right:5px;}



.gongxian_list_pic{width:40%;}
.gongxian_list_txt{width:40%;height:62px;line-height:62px;font-size:16px;}
.gongxian_list{background:#fff;padding:10px;}
.gongxian_list_pic_txt_title{font-size:20px;}
.gongxian_icon{background:url(../images/icon9.png) no-repeat;width:16px;height:27px;display:block;}
.gongxian_list li{border-bottom:1px dashed #ddd;padding-bottom:7px;margin-bottom:8px;}


.him_dianpu_left{width:856px;float:left;}
.him_dianpu_right{width:370px;float:right;}
.him_dianpu_left_title{background:#fff;font-size:20px;padding:0 20px;}
.him_dianpu_left_title ul li{float:left;height:40px;line-height:40px;}
.him_dianpu_left_title ul li.dianpu_line{width:2px;background:#ccc;margin-left:8px;margin-right:8px;height:20px;margin-top:10px;}
.him_dianpu_left_con{background:#fff;margin-top:10px;padding:20px 10px 0px;}
.him_dianpu_left_con ul li{position:relative;width:250px;float:left;margin:0 14px 20px;}
.him_dianpu_left_con ul li span{position:absolute;left:0px;bottom:0px;width:100%;height:40px;line-height:40px;z-index:1;background:#000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.him_dianpu_left_con ul li i{position:absolute;left:0px;bottom:0px;color:#fff;width:100%;height:40px;line-height:40px;z-index:2;text-align:center;}

.guess_youlike{width:161px;margin:0 12px 15px;float:left;}
.guess_youlike dt{float:left;width:66px;}
.guess_youlike dd{float:right;width:85px;}
.him_dianpu_con{background:#fff;margin-top:10px;padding-top:26px;padding-bottom:10px;}
.him_fensi_left{width:918px;margin-right:18px;float:left;}
.him_fensi_right{width:307px;float:right;}
.him_fensi_left_con{width:878px;padding-top:10px;padding-bottom:10px;margin-left:auto;margin-right:auto;background:#fff;border-bottom:1px dashed #dbdbdb;}
.cur{border:none;padding-top:20px;}
.him_fensi_pic{width:62px;float:left;}
.him_fensi_biaodan{width:806px;float:right;}
.him_fensi_title{height:27px;line-height:27px;}
.him_fensi_title span{font-size:20px;color:#6B33A2}
.him_fensi_textarea{margin-top:10px;}
.him_fensi_textarea textarea{border:1px solid #dbdbdb;width:784px;height:60px;color:#999;padding:10px;resize:none;}


.biaoqing img{position:relative;right:4px;}
.fabiao_btn button{padding:5px 10px;background:#f1f1f1;border:none;}
.him_fensi_name a,.him_fensi_name a:visited{color:#5bc5f1;text-decoration:none;}
.him_fensi_name a:hover,.him_fensi_name a:active{color:#5bc5f1;text-decoration:none;}

.him_fensi_zhufa a,.him_fensi_zhufa a:visited{color:#5bc5f1;text-decoration:none;}
.him_fensi_zhufa a:hover,.him_fensi_zhufa a:active{color:#5bc5f1;text-decoration:none;}
.fensi_hudong{background:#fff;}
.him_fensi_operator{color:#999;}
.fensi_hudong{padding-bottom:10px;}
.answer_box{width:800px;margin:10px auto;padding-bottom:10px;}
.answer_box textarea{border:1px solid #5bc5f1;margin-top:10px;width:800px;height:60px;resize:none;color:#999;padding:6px;}
.fabiao_btn button.btn_focus{background:#9700f0;color:#fff;}
.page_list {width:810px;margin:0 auto;text-align:right;}
.page_list a{margin:0 3px;padding:0 4px;}
.page_list a.current{background:#c6c6c6;}
.prev_page,.next_page{border:1px solid #dbdbdb;}
.page_focus{border:1px solid #5bc5f1;}

.fensi_jiazu_list{padding:10px 16px;background:#fff;margin-top:10px;}

.fensi_jiazu_list li{height:26px;line-height:26px;margin-bottom:10px;font-size:20px;}
.fensi_jiazu_list li span.xuhao{background:url(../images/icon10.png) no-repeat;width:26px;height:26px;text-align:center;color:#fff;margin-right:4px;}
.fensi_jiazu_list li span,.fensi_jiazu_list li em{display:inline-block;}
.fensi_jiazu_list li.current{position:relative;height:auto;line-height:auto;}
.fensi_jiazu_list li.current span{position:absolute;left:0px;bottom:0px;width:275px;height:40px;line-height:40px;z-index:1;background:#a808fe;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}
.fensi_jiazu_list li.current em{padding:0 10px;font-size:20px;position:absolute;left:0px;bottom:0px;color:#fff;width:255px;height:40px;line-height:40px;z-index:2;text-align:center;}
.fensi_jiazu_list li em i{color:#5bc5f1;font-size:14px;}
.fensi_jiazu_list li.current em i{color:#fff;font-size:20px;}
.fensi_jiazu_list li.tuhao_current{margin-bottom:10px;height:62px;}

.nav{background:#7d03e4;height:60px;line-height:60px;font-size:16px;}
.nav_inner{width:1244px;margin:0 auto;}
.nav_inner li{float:left;padding:0px 20px;}
.nav_inner a,.nav_inner a:visited{color:#fff;text-decoration:none;}
.nav_inner a:hover,.nav_inner a:active{color:#ffe400;text-decoration:none;}
.nav_inner li.current{background:#7100c8;}





